aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
anyascii==0.3.2
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
Babel==2.9.1
beautifulsoup4==4.11.2
bootstrap4==0.1.0
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
comtypes==1.1.14
defusedxml==0.7.1
Django==4.2
django-bootstrap4==23.1
django-embed-video==1.4.8
django-filter==22.1
django-modelcluster==6.0
django-permissionedforms==0.1
django-taggit==3.1.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
freetype-py==2.3.0
frozenlist==1.3.3
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
googleapis-common-protos==1.56.4
html5lib==1.1
httplib2==0.20.4
idna==3.4
joblib==1.2.0
l18n==2021.3
magic-filter==1.0.9
multidict==6.0.4
numpy==1.23.4
oauthlib==3.2.2
openpyxl==3.1.2
pandas==1.5.1
pefile==2023.2.7
Pillow==9.5.0
protobuf==4.21.8
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pycairo==1.23.0
PyDNS2==0.1.1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pyTelegramBotAPI==4.10.0
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2022.5
reportlab==4.0.0
requests==2.28.1
requests-oauthlib==1.3.1
rlPyCairo==0.2.0
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
sqlparse==0.4.4
validate-email==1.3
wagtail==5.0
wagtail-embed-videos==0.4.2
webencodings==0.5.1
