{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div>
        <label class="form-label" for="resEmail">Email</label>
        {{ form.email }}
    </div>
    <div>
        <label class="form-label" for="resPassword">Password</label>
        {{ form.password }}
    </div>
    <button type="submit">Увійти</button>
</form>

{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
