{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    h3 {
        color: #333;
        font-size: 20px;
        margin-bottom: 10px;
    }

    h4 {
        color: #666;
        font-size: 16px;
        margin-bottom: 5px;
    }

    h5 {
        color: #888;
        font-size: 14px;
    }

    hr {
        border: none;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }

</style>

<h1>Мої курси</h1>
{% for course, pass in courses %}
<a href="{% url 'course' course.course.id %}"><h3>{{ course.course.name }}</h3></a>
<h4>{{ course.course.category.name }}</h4>
<h4>{{ course.course.description }}</h4>
<h5>Проходження: {{ pass }}%</h5>

<div class="row button-row">
        {% if is_over %}
        <div>
        <p>{{ user.name }}, Ви вже завершили даний курс, побачити свій результат можете нижче в рейтингу учасників курсу</p>
            </div>
        <div><a href="{% url 'generate_certificate' course.id %}" class="btn btn-primary">Завантажити сертифікат</a>
        <a href="{% url 'send_certificate' course.id %}" class="btn btn-primary">Відправити сертифікат на пошту</a>
            </div>
        {% else %}
        <form method="post" action="{% url 'like' %}">
            {% csrf_token %}
            {% if course.id in wishlist %}
            <button class="btn btn-primary" type="submit">Dislike</button>
            {% else %}
            <button class="btn btn-primary" type="submit">Like</button>
            {% endif %}
            <input type="hidden" value="{{course.id}}" name="id">
        </form>
        <form style="margin-right: auto; margin-left:2px " method="post">
            {% csrf_token %}

            <button class="btn btn-primary" type="submit">Покинути</button>
            <input type="hidden" value="{{course.course.id}}" name="course_delete">
        </form>
    {% endif %}
    </div>
{% empty %}
        <p>У вас немає обраних курсів.</p>
    <h5><a class="btn btn-primary" href="{% url 'courses'%}">Зареєстуватись на курси</a></h5>
{% endfor %}
{% endblock %}

