{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
  color: #333;
}

.course-list {
  list-style: none;
  padding: 0;
}

.course-list li {
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

a {
  color: #0066cc;
  text-decoration: none;
}


</style>
<h1>Мої уподобані курси</h1>

<ul class="course-list">
    {% for course in courses %}

    <li>
        <h2>{{ course.name }}</h2>
        <p>{{ course.description }}</p>
        <a href="{% url 'course' course.id %}">Детальніше про курс</a>
        <div class="row">
            <form class="col-md-1" method="post" action="{% url 'like' %}">
                {% csrf_token %}
                {% if course.id in wishlist %}
                <button class="btn btn-primary" type="submit">Dislike</button>
                {% else %}
                <button class="btn btn-primary" type="submit">Like</button>
                {% endif %}
                <input type="hidden" value="{{course.id}}" name="id">
            </form>
            <form class="col" method="post">
                {% csrf_token %}
                {% if show_enroll%}
                <button class="btn btn-primary" type="submit">Зареєструватись</button>
                <input type="hidden" value="{{course.id}}" name="course_enroll">
                {% else %}
                <button class="btn btn-primary" type="submit">Покинути</button>
                <input type="hidden" value="{{course.id}}" name="course_delete">
                {% endif %}
            </form>
        </div>
    </li>
    {% empty %}
    <li>Наразі ви не маєте жодного уподобаного курсу.</li>
    {% endfor %}
</ul>
<div></div>


{% endblock %}


