{% extends 'base.html' %}

{% block content %}
<style>

</style>
  {% if modules %}
    <h2>Модулі курсу:</h2>
    {% endif %}
    {% for module in modules %}
    <div class="border rounded d-flex justify-content-between">
      <div><h5>{{ module.name }}</h5>
      <p>{{ module.duration }}</p></div>
      <div><button><a class="nav-link" href="{% url 'module' course.id module.id %}">Переглянути</a></button></div>
    </div>
    {% endfor %}

{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

