{% extends 'base.html' %}

{% block content %}
<style>

    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
    }

    h5 {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }



    .btn-primary {
        background-color: #0066cc;
    }

    .btn-primary:hover {
        background-color: #004499;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .col {
        flex: 1;
        margin-left: 10px;
    }



    section {
        margin-bottom: 30px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
    }
    .button-row {
        padding-left: 20px;
        padding-right: 20px;
        }
    span {
        margin-top:2px;
        padding-top:2px;
        font-size: 15px;
    }
ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 5px;
        padding-bottom: 10px;

    }


    section {
        margin-bottom: 30px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
    }

    .nav-link {
        color: #0066cc;
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
    }


</style>
<section>
    <h1>{{ course.name }}</h1>
    <p>Категорія: {{ course.category.name }}</p>
    <p>Тривалість: {{ course.duration }}
    <p>Викладач: {{ course.teacher.name }} {{ course.teacher.surname }}</p>
    <p>{{ course.description }}</p>

    <div class="row button-row">
        <form method="post" action="{% url 'like' %}">
            {% csrf_token %}
            {% if course.id in wishlist %}
            <button class="btn btn-primary" type="submit">Dislike</button>
            {% else %}
            <button class="btn btn-primary" type="submit">Like</button>
            {% endif %}
            <input type="hidden" value="{{course.id}}" name="id">
        </form>
        <form style="margin-right: auto; margin-left:2px " method="post">
            {% csrf_token %}
            {% if show_enroll%}
            <button class="btn btn-primary" type="submit">Зареєструватись</button>
            <input type="hidden" value="{{course.id}}" name="course_enroll">
            {% else %}
            <button class="btn btn-primary" type="submit">Покинути</button>
            <input type="hidden" value="{{course.id}}" name="course_delete">
            {% endif %}
        </form>
    {% if is_over %}
        <p>Курс завершено!</p>
        <a href="{% url 'generate_certificate' course.id %}" class="btn btn-primary">Скачати сертифікат</a>
        <a href="{% url 'send_certificate' course.id %}" class="btn btn-primary">Сертифікат на пошту</a>
    {% endif %}
    </div>
</section>
<section>
    {% if modules %}
    <h2>Модулі курсу</h2>
    {% endif %}
    {% for module in modules %}
    <ul>
        <li>
            <h5><a class="nav-link" href="{% url 'module' course.id module.id %}">{{ module.name }}</a></h5>
            <span>Тривалість: {{ module.duration }}</span>
        </li>
    </ul>
    {% endfor %}
    {% if show_btn_modules %}
    <a href="{% url 'modules' course.id %}">Усі модулі</a>
    {% endif %}
</section>
<section>
{% for r in rating %}
    <p>{{r.user.name}} - {{ r.total_mark }}</p>
{% endfor %}
</section>
{% endblock %}

