{% extends 'base.html' %}

{% block content %}
<style>

    h1 {
        color: #333;
        font-size: 28px;
        margin-bottom: 20px;
    }

    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 15px;
    }

    h5 {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }



    .btn-primary {
        background-color: #0066cc;
    }

    .btn-primary:hover {
        background-color: #004499;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .col {
        flex: 1;
        margin-left: 10px;
    }



    section {
        margin-bottom: 30px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
    }
    .button-row {
        padding-left: 20px;
        padding-right: 20px;
        }
    span {
        margin-top:2px;
        padding-top:2px;
        font-size: 15px;
    }
ul {
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 5px;
        padding-bottom: 10px;

    }


    section {
        margin-bottom: 30px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 4px;
    }

    .nav-link {
        color: #0066cc;
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

.module-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.module-card h5 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.module-card .module-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.module-card .module-link:hover {
  color: blue;
}

.module-card .module-duration {
  font-size: 14px;
  color: gray;
}

.all-modules-link {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}

.rating-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.rating-section {
  margin-top: 20px;
}

.rating-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-bar .bar {
  height: 30px;
  margin-left:10px;
  padding-left:10px;
  background-color: #f0f0f0;
}

.rating-bar p {
width:100px;
  font-size: 17px;
  font-weight: bold;
}

</style>
<section>
    <h1>{{ course.name }}</h1>
    <p>Категорія: {{ course.category.name }}</p>
    <p>Тривалість: {{ course.duration }}
    <p>Викладач: {{ course.teacher.name }} {{ course.teacher.surname }}</p>
    <p>{{ course.description }}</p>

    <div class="row button-row">
        {% if is_over %}
        <div>
        <p>{{ user.name }}, Ви вже завершили даний курс, побачити свій результат можете нижче в рейтингу учасників курсу</p>
            </div>
        <div><a href="{% url 'generate_certificate' course.id %}" class="btn btn-primary">Завантажити сертифікат</a>
        <a href="{% url 'send_certificate' course.id %}" class="btn btn-primary">Відправити сертифікат на пошту</a>
            </div>
        {% else %}
        <form method="post" action="{% url 'like' %}">
            {% csrf_token %}
            {% if course.id in wishlist %}
            <button class="btn btn-primary" type="submit">Dislike</button>
            {% else %}
            <button class="btn btn-primary" type="submit">Like</button>
            {% endif %}
            <input type="hidden" value="{{course.id}}" name="id">
        </form>
        <form style="margin-right: auto; margin-left:2px " method="post">
            {% csrf_token %}
            {% if show_enroll%}
            <button class="btn btn-primary" type="submit">Зареєструватись</button>
            <input type="hidden" value="{{course.id}}" name="course_enroll">
            {% else %}
            <button class="btn btn-primary" type="submit">Покинути</button>
            <input type="hidden" value="{{course.id}}" name="course_delete">
            {% endif %}
        </form>
    {% endif %}
    </div>
</section>
<section>
    {% if modules %}
    <h2>Модулі курсу</h2>
    {% endif %}
    {% for module in modules %}
    <div class="module-card">
        <h5><a class="module-link" href="{% url 'module' course.id module.id %}">{{ module.name }}</a></h5>
        <span class="module-duration">Тривалість: {{ module.duration }}</span>
    </div>
    {% endfor %}
    {% if show_btn_modules %}
    <a class="all-modules-link" href="{% url 'modules' course.id %}">Усі модулі</a>
    {% endif %}
</section>
<section class="rating-section">
    <h2>Рейтинг учасників курсу</h2>
  {% for r in rating %}
    <div class="rating-bar">
        <p class="user-name">{{ r.user.name }}</p>
      <div class="bar" style="width: {{ r.total_mark }}%;">{{ r.total_mark }}%</div>
    </div>
  {% endfor %}
</section>
{% endblock %}

