{% extends 'base.html' %}

{% block content %}
<body>
<h1>Course: {{ course.name }}</h1>
<h2>Category: {{ course.category.name }}</h2>
<h2>Description: {{ course.description }}</h2>
<h4>Duration: {{ course.duration }}</h4>
<h4>Teacher: {{ course.teacher.name }} {{ course.teacher.surname }}</h4>
<br>
{% if modules %}
    <h4>Modules:</h4>
{% endif %}
{% for module in modules %}
    <div>
    <h5>{{ module.name }}</h5>
    <p>{{ module.duration }}</p>
    </div>
{% endfor %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
