{% extends 'base.html' %}
    {% load static %}
{% load embed_video_tags %}
{% block content %}
<style>
    .videoContainer {
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}
video {
    width: 100%;
    height: auto;
    max-height: 100%;
}
</style>
  <h1>{{ course.name }}</h1>
{% if lecture %}
    <h2>Лекція: {{ lecture.title }}</h2>
{% video lecture.video %}
      <div class="container">
         <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
            </div>
          </div>
        </div>
      </div>
        <h3>Опис: {{ lecture.description }}</h3>
{% endif %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

