{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<style>
    /* Стилі для модульного бокового меню */
    .module-sidebar {
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 5px;
    }

    .module-sidebar h3 {
        margin-top: 0;
    }

    .lecture-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .lecture-item {
        margin-bottom: 10px;
    }

    .test-list {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
    }

    .test-item {
        margin-bottom: 10px;
    }

    /* Стилі для контенту лекції */
    .lecture-content {
        margin-top: 20px;
    }

    .lecture-content h1,
    .lecture-content h2,
    .lecture-content h3 {
        margin-top: 0;
    }

    .lecture-content .brand {
        margin-top: 40px;
        text-align: center;
    }

    .lecture-content .btn-primary {
        margin-top: 20px;
    }
</style>
<div class="row">
    <!-- Список модулів -->
    <div class="col-md-3">
        <div class="module-sidebar">
            <h3>Модуль: <a href="{% url 'module' course.id module.id %}">{{ module.name }}</a></h3>
            <ul class="lecture-list">
                {% for lection in lections %}
                <li class="lecture-item">
                    <a class="nav-link" href="{% url 'lecture' course.id module.id lection.id %}">{{ lection.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <h3>Тестування</h3>
            <ul class="test-list">
                {% for test in tests %}
                <li class="test-item">
                    <a href="{% url 'test' course.id module.id test.id %}">{{ test.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <h1>{{ course.name }}</h1>
        {% if lecture %}
        <h2>Лекція: {{ lecture.title }}</h2>
        {% video lecture.video %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <!-- Відео лекції -->
                    </div>
                </div>
            </div>
        </div>
        <h3>Опис: {{ lecture.description }}</h3>
        {% if prev_lecture %}
        <a href="{% url 'lecture' course.id module.id prev_lecture %}" class="btn btn-primary">
            Попередня лекція
        </a>
        {% endif %}
        <a class="btn btn-primary">
            {{ lecture.id }}
        </a>
        {% if next_lecture %}
        <a href="{% url 'lecture' course.id module.id next_lecture %}" class="btn btn-primary">
            Наступна лекція
        </a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}