{% extends 'base.html' %}

{% block content %}
<h1>{{ course.name }}</h1>

{% if module %}
    <h2>Модуль: {{ module.name }}</h2>
    <div>
        <p>{{ module.duration }}</p>
        <h3>Лекції модулю</h3>
        {% for lection in lections %}
        <a class="nav-link" href="{% url 'lecture' course.id module.id lection.id %}"><h5>{{ lection.title }}</h5></a>
        {% endfor %}
        <h3>Тестування</h3>
        {% for test in tests %}
{#            <div>{{ test.title }}</div>#}
            <a href="{% url 'test' course.id module.id test.id %}">{{ test.title }}</a>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
