{% extends 'base.html' %}

{% block content %}
<h1>Course: {{ course.name }}</h1>
{% if module %}
    <h2>Module: {{ module.name }}</h2>
    <div>
        <p>{{ module.duration }}</p>
        <h3>Lections</h3>
        {% for lection in lections %}
            <div>{{ lection.title }}</div>
        {% endfor %}
        <h3>Tests</h3>
        {% for test in tests %}
            <div>{{ test.title }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
