{% extends 'base.html' %}

{% block content %}

<h1>Course: {{ course.name }}</h1>
{% if test %}
    <h2>Test: {{ test.name }}</h2>
<form action="" method="post">
    {% csrf_token %}
    <div>
        {% for question in questions %}
            <div>{{ question.title }}</div>
        <div>
            <fieldset id="{{ question.id }}">
            {% for answer in  question.answers.all %}

                    <input type="radio" name="{{ question.id }}" id="{{ answer.id }}" value="{{ answer.id }}" required>
                    <label for="{{ answer.id }}">{{ answer.title }}</label>

            {% endfor %}
            </fieldset>
        </div>
        {% endfor %}
    </div>
<button class="btn btn-primary" type="submit">Відправити</button>
</form>
{% endif %}

{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
