{% extends 'base.html' %}
{% block title %}Про нас{% endblock %}
{% block content %}


<div class="course-container">
  <h2>Про нас</h2>
  <p>Ми - команда професійних розробників та викладачів, які мають досвід в IT-галузі більше 10 років. Наша мета - допомогти вам здобути знання та навички в області програмування та розробки програмного забезпечення, які вам потрібні для досягнення успіху у своїй кар'єрі.
  <p>Ми знаємо, наскільки важливо мати кваліфікованих наставників, які можуть допомогти вам в кожному кроці вашого навчання. Тому ми створили наші курси таким чином, щоб вони були доступними та зрозумілими для кожного, незалежно від рівня знань. Наші курси розроблені таким чином, щоб ви могли навчитися програмувати та розробляти програмне забезпечення на реальних проектах та задачах.</p>
  <p>Ми постійно вдосконалюємо наші курси та додаємо нові теми, щоб наші студенти завжди мали доступ до найсучасніших інструментів та технологій. Ми використовуємо найкращі методи навчання, які забезпечують максимально ефективний результат та зручність для наших студентів.</p>
<p>Наша команда завжди відкрита до співпраці та готова відповісти на будь-які ваші запитання щодо наших курсів. Ми прагнемо зробити ваше навчання максимально приємним та результативним, тому не соромтеся звертатися до нас за допомогою у будь-який час.</p>
</div>
{% endblock %}
