{% extends 'base.html' %}
{% block title %}Learniverse{% endblock %}
{% block content %}
<style>
    /* Контейнер курсів */
    .course-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* Список курсів */
    .course-list {
        flex-basis: 15%;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .course-list li {
        margin-bottom: 10px;
    }

    /* Колонки курсів */
    .course-columns {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .course-column {
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        width: 31%;
        margin: 1%;
    }

    .course-column h3 {
        margin-top: 0;
    }

    .course-column p {
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    /* Посилання на курс */
    a {
        color: #0077cc;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<h2>Відкрийте для себе світ програмування разом з нами!</h2>
{% if category %}
<h2>Категорія: {{ category }}</h2>
{% endif %}
<div class="course-container">
    <div class="course-columns">
        {% for course, show_enroll in courses.items %}
        <div class="course-column">
            <h3><a href="{% url 'course' course.id %}">{{ course.name }}</a></h3>
            <p>Категорія: {{ course.category.name }}</p>
            <p>{{ course.description }}</p><a href="{% url 'course' course.id %}">Детальніше</a>
            <p>Викладач: {{ course.teacher.name }} {{ course.teacher.surname }}</p>
            <p>Тривалість: {{ course.duration }}</p>
            <div class="row">
                <form class="col-md-3" method="post" action="{% url 'like' %}">
                    {% csrf_token %}
                    {% if course.id in wishlist %}
                    <button class="btn btn-primary" type="submit">Dislike</button>
                    {% else %}
                    <button class="btn btn-primary" type="submit">Like</button>
                    {% endif %}
                    <input type="hidden" value="{{ course.id }}" name="id">
                </form>
                <form class="col" method="post">
                    {% csrf_token %}
                    {% if show_enroll %}
                    <button class="btn btn-primary" type="submit">Зареєструватись</button>
                    <input type="hidden" value="{{ course.id }}" name="course_enroll">
                    {% else %}
                    <button class="btn btn-primary" type="submit">Покинути</button>
                    <input type="hidden" value="{{ course.id }}" name="course_delete">
                    {% endif %}
                </form>
            </div>
        </div>
        {% empty %}
        <p>На даний момент немає курсів.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
