{% extends 'base.html' %}

{% block content %}


<h2>Home</h2>
{% if category %}
    <h2>Category: {{ category }}</h2>
{% endif %}
{% for course in courses %}
    <h3>{{ course.name }}</h3>
    <h4>{{ course.category.name }}</h4>
    <h4>{{ course.description }}</h4>
    <h4>Teacher: {{ course.teacher.name }} {{ course.teacher.surname }}</h4>
{% endfor %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}